<div class="container">
  <div class="row justify-content-center" >
    <div class="col-lg-6">
      <div class="form">
        <h2>Pet information</h2>
        <%= simple_form_for [@pet] do |f| %>
          <%= f.input :title %>
          <%= f.input :specie %>
          <%= f.input :description %>
          <%= f.input :gender %>
          <%= f.input :age %>
          <%= f.input :price %>
          <%= f.input :city %>
          <%= f.input :country %>
          <%= f.input :photo, as: :file %>
          <%= f.submit "Insert pet", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# <%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill %>
