<div class="container">
  <div class="row justify-content-center" >
    <div class="col-lg-3">
      <div class="form">
        <h2>Pet information</h2>
        <%= simple_form_for [@pet] do |f| %>
          <%= f.input :title %>
          <%= f.input :specie, collection: [ "Dog", "Cat", "Rabbit", "Rodent", "Horse", "Fish", "Bird", "Poultry"] %>
          <%= f.input :description %>
          <%= f.input :gender, collection: [ "male", "female" ] %>
          <%# <%= f.input :photo, as: :file %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form">
        <h2 class="transparent">Pet</h2>
        <%= simple_form_for [@pet] do |f| %>
          <%= f.input :age %>
          <%= f.input :price %>
          <%= f.input :address %>
          <%= f.input :photo, as: :file %>
          <%= f.submit "Insert", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 img-left">
    </div>
  </div>
</div>

<%# <%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill %>
