<div class="main-container">
  <div class="left-container">
    <div class="left-part">
      <div class="selected-image">
        <%= cl_image_tag @pet.photo.key, height: 400, width: 500, crop: :fill %>
      </div>
      <div class="advert-stats">
        <div class="stat">
          <p>Added on <%= @pet.created_at.day %>/<%= @pet.created_at.month %>/<%= @pet.created_at.year %></p>
        </div>
        <div class="stat">
          <p>Likes 0</p>
        </div>
        <div class="stat">
          <p>Viewed 50</p>
        </div>
      </div>
      <div class="pet-description">
        <h2>Description</h2>
        <p><%= @pet.description %></p>
      </div>
    </div>
    <br>
    <br>
    <h2>Related adverts</h2>
    <br>
    <div class="related-adverts">
      <% @pets.each do |pet| %>
        <% pet_path = "/pets/#{pet.id}" %>
        <a href=<%= pet_path %>>
          <div class="card-product">
            <%= cl_image_tag pet.photo.key, height: 400, width: 500, crop: :fill %>
            <div class="card-product-infos">
              <h2><%= pet.title %></h2>
              <h2><%= pet.price %></h2>
              <p><%= pet.description %></p>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
  <div class="right-container">
    <div class="widget">
      <div class="button">
        <p>
          <%= @pet.price %> €
        </p>
      </div>
      <div class="">
        <a class="btn btn-gradient show-button" href="#">
          Message
        </a>
      </div>
      <div class="">
        <div class="modal-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <%= button_to "Buy now", pet_purchases_path(@pet), class: "btn btn-gradient show-button" %>
        </div>
      </div>
      <div class="user-pet-card">
        <div class="user-information">
          <div class="user-avatar">
          <%# if @pet.user.image_url.exist? %>
            <%#= image_tag @pet.user.image_url, height: 90, width: 90, crop: :fill %>
          <%# end %>
          </div>
          <div class="user-details">
            <p><%= @username %></p>
            <p><%= @pet.user.address %></p>
            <p>member since: <%= @pet.user.created_at.year %></p>
          </div>
        </div>
        <div class="buttons-container">
          <div class="">
            <div class="modal-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <%= button_to "Buy now", pet_purchases_path(@pet), class: "btn btn-gradient show-button" %>
            </div>
          </div>
          <div class="card-buttons">
            <div>
              <a class="btn btn-gradient show-button-half" href="#">
                Share
              </a>
            </div>
            <div>
              <a class="btn btn-gradient show-button-half" href="#">
                Report
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Congratulations !</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Your payment was successful, your <%= @pet.specie %> is waiting for you in <%= @pet.address %>.</p>
        <p>Thank you !</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
